In [2]:
 pip install MetaTrader5

Collecting MetaTrader5Note: you may need to restart the kernel to use updated packages.
  Downloading MetaTrader5-5.0.33-cp38-cp38-win_amd64.whl (122 kB)
Requirement already satisfied: numpy>=1.7 in c:\users\acer\anaconda3\lib\site-packages (from MetaTrader5) (1.18.5)
Installing collected packages: MetaTrader5
Successfully installed MetaTrader5-5.0.33

In [17]:
from datetime import datetime
import matplotlib.pyplot as plt
import pandas as pd
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
import MetaTrader5 as mt5

In [18]:
# подключимся к MetaTrader 5
if not mt5.initialize():
    print("initialize() failed")
    mt5.shutdown()

In [19]:
# запросим статус и параметры подключения
print(mt5.terminal_info())
# получим информацию о версии MetaTrader 5
print(mt5.version())

TerminalInfo(community_account=False, community_connection=False, connected=True, dlls_allowed=False, trade_allowed=False, tradeapi_disabled=False, email_enabled=False, ftp_enabled=False, notifications_enabled=False, mqid=False, build=2698, maxbars=100000, codepage=1251, ping_last=48174, community_balance=0.0, retransmission=1.495067817509248, company='MetaQuotes Software Corp.', name='MetaTrader 5', language='Russian', path='C:\\Program Files\\MetaTrader 5', data_path='C:\\Users\\Acer\\AppData\\Roaming\\MetaQuotes\\Terminal\\D0E8209F77C8CF37AD8BF550E51FF075', commondata_path='C:\\Users\\Acer\\AppData\\Roaming\\MetaQuotes\\Terminal\\Common')
(500, 2698, '24 Nov 2020')

In [20]:
print(mt5.account_info())

AccountInfo(login=3067880, trade_mode=0, leverage=100, limit_orders=0, margin_so_mode=0, trade_allowed=True, trade_expert=True, margin_mode=0, currency_digits=2, fifo_close=False, balance=100000.0, credit=0.0, profit=0.0, equity=100000.0, margin=0.0, margin_free=100000.0, margin_level=0.0, margin_so_call=100.0, margin_so_so=50.0, margin_initial=0.0, margin_maintenance=0.0, assets=0.0, liabilities=0.0, commission_blocked=0.0, name='Данис Батыршин', server='Just2Trade-MT5', currency='USD', company='Just2Trade Online Ltd')

In [21]:
# запросим 1000 тиков с EURRUB
eurrub_ticks = mt5.copy_ticks_from("EURRUB", datetime(2020,1,28,13), 1000, mt5.COPY_TICKS_ALL)
# запросим 1000 тиков с USDRUB
usdrub_ticks = mt5.copy_ticks_from("USDRUB", datetime(2020,1,28,13), 1000, mt5.COPY_TICKS_ALL)

In [22]:
eurrub_rates = mt5.copy_rates_from("EURRUB", mt5.TIMEFRAME_M1, datetime(2020,1,28,13), 1000)
usdrub_rates = mt5.copy_rates_from("USDRUB", mt5.TIMEFRAME_M1, datetime(2020,1,28,13), 1000)

In [23]:
mt5.shutdown()

True

In [24]:
print('eurrub_ticks(', len(eurrub_ticks), ')')
for val in eurrub_ticks[:10]: print(val)

eurrub_ticks( 1000 )
(1580198400, 68.9141, 69.5141, 68.9127, 1, 1580198400183, 6, 1.)
(1580198400, 68.9141, 69.5141, 68.9133, 1, 1580198400218, 280, 1.)
(1580198400, 68.9141, 69.5141, 68.9141, 1, 1580198400218, 280, 1.)
(1580198400, 68.9141, 69.5141, 68.9133, 1, 1580198400452, 280, 1.)
(1580198400, 68.9141, 69.5141, 68.9141, 1, 1580198400452, 280, 1.)
(1580198400, 68.9151, 69.5151, 68.9141, 1, 1580198400809, 6, 1.)
(1580198400, 68.9151, 69.5151, 68.9147, 1, 1580198400810, 280, 1.)
(1580198400, 68.9151, 69.5151, 68.9151, 1, 1580198400810, 280, 1.)
(1580198401, 68.9175, 69.5175, 68.9151, 1, 1580198401148, 6, 1.)
(1580198401, 68.9175, 69.5175, 68.9175, 1, 1580198401149, 280, 1.)

In [25]:
print('usdrub_ticks(', len(usdrub_ticks), ')')
for val in usdrub_ticks[:10]: print(val)

usdrub_ticks( 1000 )
(1580198400, 62.5795, 63.0795, 62.5783, 1, 1580198400183, 6, 1.)
(1580198400, 62.5795, 63.0795, 62.5797, 1, 1580198400218, 280, 1.)
(1580198400, 62.5795, 63.0795, 62.5787, 1, 1580198400218, 280, 1.)
(1580198400, 62.5795, 63.0795, 62.5795, 1, 1580198400218, 280, 1.)
(1580198400, 62.5794, 63.0794, 62.5795, 1, 1580198400452, 6, 1.)
(1580198400, 62.5794, 63.0794, 62.5794, 1, 1580198400452, 280, 1.)
(1580198400, 62.5802, 63.0802, 62.5794, 1, 1580198400809, 6, 1.)
(1580198400, 62.5802, 63.0802, 62.5802, 1, 1580198400810, 280, 1.)
(1580198401, 62.5827, 63.0827, 62.5802, 1, 1580198401148, 6, 1.)
(1580198401, 62.5827, 63.0827, 62.5827, 1, 1580198401149, 280, 1.)

In [26]:
type(usdrub_ticks)

numpy.ndarray

In [27]:
eurrub_ticks_frame = pd.DataFrame(eurrub_ticks)
usdrub_ticks_frame = pd.DataFrame(usdrub_ticks)

In [28]:
eurrub_ticks_frame

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,1580198400,68.9141,69.5141,68.9127,1,1580198400183,6,1.0
1,1580198400,68.9141,69.5141,68.9133,1,1580198400218,280,1.0
2,1580198400,68.9141,69.5141,68.9141,1,1580198400218,280,1.0
3,1580198400,68.9141,69.5141,68.9133,1,1580198400452,280,1.0
4,1580198400,68.9141,69.5141,68.9141,1,1580198400452,280,1.0
...,...,...,...,...,...,...,...,...
995,1580198524,68.9729,69.5729,68.9729,1,1580198524557,280,1.0
996,1580198524,68.9737,69.5737,68.9729,1,1580198524922,6,1.0
997,1580198524,68.9737,69.5737,68.9737,1,1580198524923,280,1.0
998,1580198525,68.9738,69.5738,68.9737,1,1580198525261,6,1.0
999,1580198525,68.9738,69.5738,68.9738,1,1580198525262,280,1.0

In [29]:
usdrub_ticks_frame

,time,bid,ask,last,volume,time_msc,flags,volume_real
0,1580198400,62.5795,63.0795,62.5783,1,1580198400183,6,1.0
1,1580198400,62.5795,63.0795,62.5797,1,1580198400218,280,1.0
2,1580198400,62.5795,63.0795,62.5787,1,1580198400218,280,1.0
3,1580198400,62.5795,63.0795,62.5795,1,1580198400218,280,1.0
4,1580198400,62.5794,63.0794,62.5795,1,1580198400452,6,1.0
...,...,...,...,...,...,...,...,...
995,1580198574,62.6242,63.1242,62.6251,1,1580198574135,280,1.0
996,1580198574,62.6242,63.1242,62.6250,1,1580198574135,280,1.0
997,1580198574,62.6242,63.1242,62.6242,1,1580198574135,280,1.0
998,1580198575,62.6235,63.1235,62.6242,1,1580198575119,6,1.0
999,1580198575,62.6235,63.1235,62.6239,1,1580198575119,280,1.0

In [ ]:
#  bid - продать, ask - купить

In [ ]:
plt.plot(ticks_frame['time'], eurrub_ticks_frame['ask'], 'r-', label='ask')